/* 样式初始化 */
body,div,p,span,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 宋体;
}
a {
    text-decoration: none;
    color:#666;
}
input,img {
    margin: 0;
    padding: 0;
    outline-style: none;
    border: 0 none;
}
li {
    list-style: none;
}
.clearfix:after{
    content:"";
    height:0;
    line-height:0;
    clear:both;
    display: block;
    visibility:hidden;
}
/* 兼容ie浏览器 */
.clearfix {
    zoom: 1;
}